<!-- 
    Footer.razor
    This component displays at the bottom of every page.
    It includes developer info and copyright text.
-->

<footer class="footer bg-dark text-white text-center p-3 mt-auto">
    <p>&copy; 2025 Blazor Pizza App</p>
    <p>Developed by Elora Mathias — United States</p>
</footer>
